apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: calculator-config-prod
  namespace: argocd
spec:
  project: default
  source:
    repoURL: git@github.com:miw1513/k8s-calculator-config-prd.git
    targetRevision: main
    path: manifest/prd
  destination:
    server: https://kubernetes.default.svc
    namespace: calculator-prod
  syncPolicy:
    automated:
      prune: true